@font-face {
	font-family : "HazelDeco";
	src: url("../font/HazelDecoLight-Regular.ttf");
}

@font-face {
	font-family: "Weather Sunday";
	src: url("../font/Weather\ Sunday.otf");
}

a {
	text-decoration:none;
	color:inherit;
}

body {
	background-color:black;
	margin:0;
	height:827px;
	overflow-x : hidden;
}

a, a:visited {
	text-decoration:none;
	color:inherit;
}

/*------------------ MENU----------------------- */

#menu_background {
	width:1000px;
	height:900px;
	margin:auto;
	font-size:30px;
	background-image: url("../images/menu_background.png");
	background-repeat: no-repeat;
	background-size:110%;
	background-position: center;
	position:relative;
}

#ampoule {
	background-image:url("../images/bulb_off.png");
	width: 480px;
	height:528px;
	position:absolute;
	top:0;
	left:220px;
	background-repeat:no-repeat;
	transition: background-image 0.05s ease-in-out;
}

#bolt {
	position:absolute;
	width: 308px;
	height:209px;
	top:80px;
	right:172px;
	opacity:0;
}

#logo {
	position:absolute;
	font-family: "Weather Sunday";
	color:white;
	font-size:110px;
	top : 90px;
	left: -160px;
	z-index:100;
}

#login {
	font-family : "HazelDeco";
	position : absolute;
	left : -100px;
	top :300px;
	background-color:grey;
	border: solid 4px rosybrown;
	color:black;
	width:300px;
	padding:10px;
	margin:auto;
	border-radius:20px;
	opacity:0.8;
}

.log {
	width:270px;
	margin:10px auto;
	display:flex;
	justify-content: center;
	flex-direction: column;
}

button {
	margin-top:10px;
	width:50px;
}

.error {
	color: #D8000C;
	background-color: white;
	font-family:"Arial";
	font-size:12px;
	border: 1px solid;
	margin: 10px 0px;
	padding:15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
}

/* -------------------- LOBBY ------------------- */

#mask {
	position:absolute;
	width:100%;
	height:100%;
	background-color:gray;
	opacity : 0.7;
	display:none;
	z-index:4;
}

#main-lobby {
	position:relative;
	width:913px;
	margin:auto;
}

nav {
	font-family: "Weather Sunday";
	color:black;
	background-color: white;
	opacity: 0;
	width: 100%;
}

nav ul {
	list-style:none;
	display:flex;
	justify-content: center;
	padding:0;
}

li {
	margin: 10px 40px;
	font-size:40px;
	cursor:pointer;
}

#map {
	content:url("../images/usa_etats.png");
	max-width: 913px;
	height:595px;
	margin:auto;
	margin-top : 20px;
	opacity:0;
	position:absolute;
}

#synopsis {

	position : absolute;
	content: url("../images/synopsis.png");
	max-width:100%;
	height:auto;
	top:-100px;
	left: 300px;
	transform-origin:center center;
}

#lobby-background {
	background-image:url("../images/sky.jpg");
	background-size:0 0;
	width:100%;
	height:900px;
}

#zeppelin {
	width:246px;
	height:94px;
	position:absolute;
	z-index:2;
}

.level {
	font-family: "Verdana";
	font-size: 14px;
	width: 200px;
	height: 150px;
	border : 1px solid lightcoral;
	color : white;
	background-color:black;
	z-index:3;
	display:none;
	text-align:center;
	position:absolute;
	top : 500px;
	right: 100px;
	padding:10px;
}

.playerInfo {
	position:absolute;
	top : 100px;
	right: 250px;
	display:none;
	width: 400px;
	font-family : "Weather Sunday";
	font-size:25px;
	text-align:center;
	border : 1px solid lightcoral;
	background-color:black;
	color:white;
	z-index:5;
	padding:35px;
	border-radius:50px;
	box-shadow: 45px 30px;
}

#photoPlayer {
	content : url("../images/photoPlayer.jpeg");
	width:200px;
	height:auto;
}

#btnRetour {
	width:150px;
	height:60px;
}

.levelList {
	display:flex;
	flex-direction: column;
}

.city {

	width:50px;
	height:63px;
	content:url("../images/city.png");
	position:absolute;
}

#rejoindre {
	width: 100px;
	height:30px;
}

/*---------------- ON GAME ----------------*/

#popUp {

	position:absolute;
	top: 300px;
	left: 600px;
	font-family: "Weather Sunday";
	font-size: 30px;
	width:250px;
	height:170px;
	border: 1px solid black;
	background-color: whitesmoke;
	color:black;
	display:none;
	text-align:center;
	flex-direction:column;
	justify-content: center;
	padding:10px;
	z-index:5;
}

#container {
	display:flex;
	justify-content: center;
	flex-direction:row;
	position:relative;
}

#btnContainer, #btns {
	display:flex;
	flex-direction:column;
	justify-content: center;
}

#btnContainer, #infos {
	opacity: 0;
}

.btnAttack {
	font-family: "HazelDeco";
	font-size : 15px;
	background-color:lightslategray;
	border : 1px solid black;
	width: 100px;
	height:70px;
	color :black;
	margin: 10px auto;
	text-align:center;
	box-shadow: 5px 10px lightseagreen;
	padding: 15px;
	cursor:pointer;
	user-select:none;
}

.btnAttack:focus {
	background-color:white;
}

#repertoire {

	font-family: "Weather Sunday";
	text-decoration: underline;
	font-size:50px;
	margin: 10px;
	color:white;
}


#infos {
	display:flex;
	flex-direction:row;
	justify-content:center;
}

 .gameInfo {
	 background-color:white;
	 margin:30px;
	 width:200px;
	 height:50px;
 }

 .lifeBar {
	 width: 255px;
	 margin : 0 20px;
	 height: 20px;
	 border-radius:50px;
	 border : 2px solid white;
	 color:black;
	 position:relative;
	 background-color :lightgrey;
 }

 #HPLoss {
	 width:100%;
	 height:20px;
	 background-color:lightcoral;
	 border-radius:50px;
 }

 #ManaLoss{
	 width:100%;
	 height:20px;
	 background-color:lightblue;
	 border-radius:50px;
 }

 #GameLoss {
	 width:100%;
	 height:20px;
	 background-color:yellow;
	 border-radius:50px;
 }

 p {
	 position:absolute;
	 top:-10px;
	 left:20px;
	 font-size:12px;
	 font-weight: bold;
	 font-family:"Verdana";
 }

 #allyInfos {
	display:none;
	position:absolute;
	color:white;
	font-weight : bold;
	font-size:15px;
 }

 #btnQuit {
	 width: 150px;
	 height:50px;
	 margin:auto;
 }

 .btnOnGame {

	width: 160px;
	height:40px;
	margin : 10px auto;
	font-family:"Weather Sunday";
	font-size:20px;
 }

 #messageBox {

	border : 2px solid lightseagreen;
	color:red;
	font-weight: bold;
	font-size:17px;
	width:200px;
	height: 70px;
	margin: 20px auto;
	padding: 5px;
	text-align:center;
 }

#btns {
	position:relative;
}
